.vscode/
.history/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace

.env
/user-venv
/venv

*.db
*.json
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
/keys

__pycache__/

/**/migrations/
!/**/migrations/__init__.py

